<div class="container d-flex justify-content-center">
    <div class="col-md-6 col-xs-12">
        <div class="card mt-3">
            <div class="card-header">Nouveau Produit</div>
            <div class="card-body">
                <form  #f="ngForm" (ngSubmit)="onUpdateProduct(f.value)" [formGroup]="newProductForm">
                    <div class="form-group">
                        <label for="nameProduct" class="control-label">Nom</label>
                        <input id="nameProduct" type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" [(ngModel)]="dataForSibling.name">
                        <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                            <div *ngIf="form.name.errors.required">Le nom du produit est requis</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="priceProduct" class="control-label">Prix</label>
                        <input id="priceProduct" type="text" class="form-control" formControlName="price" [ngClass]="{ 'is-invalid': submitted && form.price.errors }" [(ngModel)]="dataForSibling.price">
                        <div *ngIf="submitted && form.price.errors" class="invalid-feedback">
                            <div *ngIf="form.price.errors.required">Le prix du produit est requis</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="categoryProduct" class="control-label">Catégorie</label>
                        <div id="categoryProduct" class="input-group mb-3">
                            <select #selectedCategory id="inputGorupSelectCategory" class="custom-select" formControlName="category" *ngIf="categories" [ngClass]="{ 'is-invalid': submitted && form.category.errors }" [(ngModel)]="dataForSibling.category.name">
                                <option *ngFor="let cat of categories" [ngValue]="cat.name">{{cat.name}}</option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGorupSelectCategory">Categories</label>
                            </div>
                            <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
                                <div *ngIf="form.category.errors.required">La catégorie du produit est requise</div>
                             </div>
                        </div>
                    </div>
                    <label>Caractéristiques</label>
                    <div class="text-right">
                        <button type="button" class="btn btn-outline-primary btn-sm mt-2" (click)="addCharac()">Ajouter une caractéristique</button>
                    </div>
                    <div formArrayName="characteristics" *ngFor="let charac of characArray().controls; let i=index">
                        <div class="form-group" [formGroupName]="i">
                            <label for="characteristicsProduct" class="control-label">Caractéristique</label>
                            <div class="input-group mb-3">
                                <input #characInput id="characteristicsProduct" type="text" class="form-control" formControlName="characteristic" [ngClass]="{ 'is-invalid': submitted && formCharac.characteristic.errors }" [(ngModel)]="dataForSibling.characteristics[i]">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-danger" (click)="removeCharac(i)"> X </button>
                            </div>
                            <div *ngIf="submitted && formCharac.characteristic.errors" class="invalid-feedback">
                                <div *ngIf="formCharac.characteristic.errors.required">Veuillez saisir cette caractéristique</div>
                             </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right mt-4">
                        <button class="btn btn-success" type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>